html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#filterContainer select {
    margin: 5px 0;
    padding: 5px;
    width: 200px;
}

#sidePanel {
    background-color: white;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}